# Redis settings
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
REDIS_HOST=redis
REDIS_PORT=6379


# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1, 130.193.43.59, 158.160.21.205

# Database
DB_ENGINE=django.db.backends.postgresql
DB_NAME=lms_db
DB_USER=lms_user
DB_PASSWORD=lms_password
DB_HOST=localhost
DB_PORT=5432

# Email (пример для Mailgun)
EMAIL_HOST=smtp.mailgun.org
EMAIL_PORT=587
EMAIL_HOST_USER=postmaster@yourdomain.com
EMAIL_HOST_PASSWORD=your-mailgun-password
EMAIL_USE_TLS=True

# PostgreSQL
POSTGRES_DB=lms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DEBUG=False
DATABASE_URL=psql://lmsuser:password@localhost/lmsdb
ALLOWED_HOSTS=your_server_ip